body, html{
	width: 100%;
	height: 100%;
}
section{
	width: 100%;
	height: 100%;
}
#thumbList img{
	z-index: 300;
	width: 200px !important;
	height: 200px !important;
}
#thumbList li{
	white-space: nowrap;	
	display: inline;
	list-style: none;
	opacity: 0.8;
}
#thumbList li:hover{
	opacity: 1;
}
#thumbWrapper{
	position: absolute;
	bottom: 0;
	width: 100%;
	overflow: auto;
}
#albumImage  #brimg{
	position: fixed;
	top:0;
	left: 0;

	/*preserves aspect ratio*/
	max-width: 55%;
	max-height: 70%;
	margin-left: 20%;
}
#albumImage{

}
