@import url(http://fonts.googleapis.com/css?family=Great+Vibes);
body, html{
	width: 100%;
	height: 100%;
}
section{
	width: 100%;
	height: 100%;
}
.thumbList{
  margin-left: 7%;
}
.thumbList img{
	z-index: 300;
	width: 200px !important;
	height: 200px !important;
}
.thumbList li{
	position: relative;
	display: inline;
	list-style: none;
}
.thumbList h3{
  position: absolute;
  top: 0;
  left:0;
  padding: 10px;
  color:rgba(245, 222, 179, 1);
  display: none;
}
#pgtitle h1{
  text-align: center;
  font-size: 7vw;
  font-family: 'Great Vibes', cursive;
}
.thumbList div{
  position: absolute;
  top: -91px;
  left: 0;
  width: 200px;
  height: 200px;
  background-color: hsla(4, 5%, 15%, 0);
 -webkit-transition: all 0.3s cubic-bezier(0.6, 0.04, 0.98, 0.335);  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
          transition: all 0.3s cubic-bezier(0.6, 0.04, 0.98, 0.335);  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */

}

.thumbList div:hover{
  background-color: hsla(4, 5%, 15%, 0.7);
}
.thumbWrapper{
	position: relative;
	bottom: 0;
	width: 100%;
	overflow: auto;
  padding: 50px;
}
#albumImage  #brimg{
	position: fixed;
	top:0;
	left: 0;
	max-width: 55%;
	max-height: 70%;
}
#albumImage h2{
  padding-left: 80px;
  margin-left: 7%;
}
.ld{
    overflow: hidden;
}
#loader-wrapper{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    /*background-color: black;*/
}
#loader{
    display: block;
    position: relative;
    left: 50%;
    top:50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border:3px solid transparent;
    border-top-color: #2B46A5;
    border-radius: 50%;
    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
          animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    z-index: 999999;
}
#loader:before{
   content: "";
   position: absolute;
   top: 5px;
   left: 5px;
   right: 5px;
   bottom: 5px;
   border:3px solid transparent; 
   border-top-color: #D861F7;
   border-radius: 50%;
   -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
          animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
#loader:after{
    content: "";
   position: absolute;
   top: 15px;
   left: 15px;
   right: 15px;
   bottom: 15px;
   border:3px solid transparent; 
   border-top-color: #B82194;
   border-radius: 50%;
   -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
          animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
@-webkit-keyframes spin {
  0%   {
    -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);  /* IE 9 */
    transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
  }
  
  100% {
    -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);  /* IE 9 */
    transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
  }
}
@keyframes spin {
 0%   {
    -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);  /* IE 9 */
    transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
  }
  
  100% {
    -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);  /* IE 9 */
    transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
  }
}
#loader-wrapper .loader-section{
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #222;
    z-index: 99999; 
}
#loader-wrapper .loader-section.section-left{
    left:0;
}
#loader-wrapper .loader-section.section-right{
    right: 0;
}
.loaded #loader-wrapper .loader-section.section-left{
   -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(-100%);  /* IE 9 */
    transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */
   -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
          transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
}
.loaded #loader-wrapper .loader-section.section-right{
   -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(100%);  /* IE 9 */
    transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
          transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
 }
 .loaded #loader{
    opacity: 0;
    -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
          transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
 }
 .loaded #loader-wrapper{
    visibility: hidden;
    -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateY(-100%);  /* IE 9 */
    transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.3s 1s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
          transition: all 0.3s 1s ease-out;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
 }
@media only screen and (max-width: 500px){
  .thumbWrapper{
    padding:0;
  }
  #albumImage h2{
    margin-left: 0;
    padding-left: 65px;
  }
  #pgtitle h1{
    font-size: 13vw;
  }
}