@import url(http://fonts.googleapis.com/css?family=Great+Vibes);
@font-face{
    font-family: Chantelli_Antiqua;
    src: url('../fonts/Chantelli_Antiqua.ttf');
    src: url('../fonts/Chantelli_Antiqua.ttf'?#iefix) format('embedded-opentype'),
    url('../fonts/Chantelli_Antiqua.ttf') format ('woff'),
    url('../fonts/Chantelli_Antiqua.ttf') format ('truetype'),
    url('../fonts/Chantelli_Antiqua.ttf') format ('svg'),
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: madariaga;
    src: url('../fonts/madariaga.ttf');
    src: url('../fonts/madariaga.ttf'?#iefix) format('embedded-opentype'),
    url('../fonts/madariaga.ttf') format ('woff'),
    url('../fonts/madariaga.ttf') format ('truetype'),
    url('../fonts/madariaga.ttf') format ('svg'),
    font-weight: normal;
    font-style: normal;
}

body,html{
    width: 100%;
	min-width: 100%;
	height: 100%;
    min-height: 100%;
	position: relative;
	padding:0;
	margin: 0;
    background-color: #eff2f3;
}
.ld{
    overflow: hidden;
}
#loader-wrapper{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    /*background-color: black;*/
}
#loader{
    display: block;
    position: relative;
    left: 50%;
    top:50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border:3px solid transparent;
    border-top-color: #3498db;
    border-radius: 50%;
    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
          animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    z-index: 999999;
}
#loader:before{
   content: "";
   position: absolute;
   top: 5px;
   left: 5px;
   right: 5px;
   bottom: 5px;
   border:3px solid transparent; 
   border-top-color: #e74c3c;
   border-radius: 50%;
   -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
          animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
#loader:after{
    content: "";
   position: absolute;
   top: 15px;
   left: 15px;
   right: 15px;
   bottom: 15px;
   border:3px solid transparent; 
   border-top-color: #f9c922;
   border-radius: 50%;
   -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
          animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
@-webkit-keyframes spin {
  0%   {
    -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);  /* IE 9 */
    transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
  }
  
  100% {
    -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);  /* IE 9 */
    transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
  }
}
@keyframes spin {
 0%   {
    -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);  /* IE 9 */
    transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
  }
  
  100% {
    -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);  /* IE 9 */
    transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
  }
}
#loader-wrapper .loader-section{
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #222;
    z-index: 99999; 
}
#loader-wrapper .loader-section.section-left{
    left:0;
}
#loader-wrapper .loader-section.section-right{
    right: 0;
}
.loaded #loader-wrapper .loader-section.section-left{
   -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(-100%);  /* IE 9 */
    transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */
   -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
          transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
}
.loaded #loader-wrapper .loader-section.section-right{
   -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(100%);  /* IE 9 */
    transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
          transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
 }
 .loaded #loader{
    opacity: 0;
    -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
          transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
 }
 .loaded #loader-wrapper{
    visibility: hidden;
    -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateY(-100%);  /* IE 9 */
    transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.3s 1s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
          transition: all 0.3s 1s ease-out;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
 }


section{
    width: 100%;
    height: 100%;
}
/*Carusel Css*/

.carousel, .carousel-inner .active, .carousel .item, .carousel-inner {
	height: 100%;
}
.carousel-caption{
    z-index: 6900;
}
.fill{
     width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.carousel .item {
    left: 0 !important;
      -webkit-transition: opacity .7s; /*adjust timing here */
         -moz-transition: opacity .7s;
           -o-transition: opacity .7s;
              transition: opacity .7s;
}
.carousel-control {
    background-image: none !important; /* remove background gradients on controls */
}
/* Fade controls with items */
 .next.left,
 .prev.right {
    opacity: 1;
    z-index: 1;
}
.active.left,
.active.right {
    opacity: 0;
    z-index: 2;
}
/*#home .col-sm-6, #home .col-sm-12{
    visibility: hidden;
}*/

#bk1{
	background: url('../img/Augustin016.jpg') center center no-repeat;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    min-height: 350px;
}
#bk2{
	background: url('../img/Augustin015.jpg') center center no-repeat;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    min-height: 350px;
}
#bk3{
	background: url('../img/img10mid.jpg') center center no-repeat;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    min-height: 350px;
}
#bk4{
	background: url('../img/img12mid.jpg') center center no-repeat;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    min-height: 350px;
}
#pages {
	overflow:hidden !important;
}
.galign{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
#pages{
	position: relative;
	width: 100%;
}
.animatedElement{
    visibility: hidden;
}
#home div.col-sm-6, #home div.col-sm-12, footer.animiatedElement div.col-sm-12, footer.animiatedElement div.col-sm-7{
	padding-left: 0;
	padding-right: 0;
}
.botcover{
	background: #E3A1F4;
	width: 100%;
	height: 400px;
}
#lstcall{
    text-align: center;
    font-size: 5vw;
}
footer #fhead{
    background-color: rgba(0, 0, 0, 0.37);
}
#lstcall h4{
    background-color: rgba(0, 0, 0, 0.37);
    color: rgba(245, 222, 179, 1);
    font-size: 3vw;
}
#hd{
    opacity: 0;
    color: red;
    margin-bottom: 0;
    text-align: center;
}
footer{
    background: url('../img/Augustin114.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
	height: 100%;
    width: 100%;
    /*visibility: hidden;*/
    position: relative;
}
footer input{
    border-radius: 10px;
    padding-left: 5px;
}
footer h1{
    text-align: center;
    font-size: 5vw;
    color: rgba(245, 222, 179, 1);
    font-family: 'Great Vibes', cursive;
}
footer h3{
    text-align: center;
    font-size: 2vw;
    font-family: Chantelli_Antiqua;
    color: rgba(245, 222, 179, 1);
}
footer .col-sm-6 div{
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
}
button{
    border-radius: 50px !important;
}
footer button{
    color: rgba(245, 222, 179, 1) !important;
}
footer button:hover{
    color: rgba(245, 222, 179, 1) !important;
}
#sgsingup input{
    margin-bottom: 30px;
}
#sgsingup button{
    /*background-color: #2ecc71;*/
}
#sgsingup textarea{
    width: 100%;
    min-height: 100px;
}
#sgsingup #sub{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding-bottom: 10px;
}
#gi .guest label:nth-child(3){
    margin-left: 10px;
}
#pages #bk1, #bk2,#bk3,#bk4{
	-webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -ms-animation-duration: 1.5s;
    -o-animation-duration: 1.5s;
    animation-duration: 1.5s;
    animation-delay: .2s;
    -webkit-animation-delay: .2s;
    -moz-animation-delay: .2s;
    -ms-animation-delay: .2s;
    -o-animation-delay: .2s;
}
#bot{
	overflow:hidden !important;
}
.bottitle{
    position: absolute;
    top:0;
    width: 100%;
    display: flex;
    justify-content: center;
    background: rgba(255, 255, 255, 0.7);
    z-index: 5000;
    
}
.bottitle h1{
    font-family: 'Great Vibes', cursive;
    color: #F07ADD;
}
.bottn{
    top: 50%;
    left: 45%;
    z-index: 5000;
}
.titleSec h1{
    font-size: 7vw;
    text-align: center;
    color: #F07ADD;
    font-family: madariaga;
    /*font-family: 'Great Vibes', cursive;*/
    text-shadow: 3px 3px #000000;
}
.titleSec{
    position: relative;
    width: 100%;
    margin-top: 17%;
}
.subSect{
    position: relative;
    width: 100%;
    margin-top: 5%;
    color: #F07ADD;
    text-shadow: 1px 1px black;
}
.subSect h3{
    font-size: 4vw;
    text-align: center;
    font-family: 'Great Vibes', cursive;
}
.subSect h4{
    font-size: 2vw;
    text-align: center;
}
#overlay{
	width: 100%;
	min-height: 100%;
	background: hsla(54, 5%, 15%, 0.3);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
	opacity: 0;
	transition: opacity .3s ease-in-out;
}
#home_overlay, .conpos{
    width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000;
}
#pages #overlay:hover{
	opacity: 1;
}
#pages .pagestitle{
    position: absolute;
    width: 100%;
    z-index: 5000;    
    background: rgba(255, 255, 255, 0.7);
}
#pages .pagestitle h3{
    color: #F07ADD;
    font-size: 4vw;
    font-family: 'Great Vibes', cursive;
}
#g{
    text-align: right;
}
#g i{
    margin-left: 20px;
}
#j i{
    margin-right: 10px;
}
#j{
    text-align: left;
}
#pages .btnpositions{
    position: absolute;
    z-index: 5000;
}
#pages #ga{
    top: 50%;
    left: 70%;
}
#pages #ja{    
    top: 50%;
    left: 15%;
}
#home button{
    background-color: hsla(0, 5%, 95%, 0.25);
    height: 50px;
    border: 5px solid white;
    -ms-transition: all 0.3s linear 0s, color 0.3s linear 0s;
    -moz-transition: all 0.3s linear 0s, color 0.3s linear 0s;
    -webkit-transition: all 0.3s linear 0s, color 0.3s linear 0s;
    transition: all 0.3s linear 0s, color 0.3s linear 0s;
    color: #E3A1F4;
}
#home button:hover{
    background: white;
    color: #9B2F63;
    font-weight: bold;
    height: 60px;
    width: auto;

}
#pages a{
    text-decoration: none;
}
i.lft{
    float: right;
}
i.rt{
    float: left;
}
.butpos{
    position: absolute;
    top: 60%;
    left: 22%;
    right: 45%;
    z-index: 5000;
}
#banner{
    background: url('../img/Augustin022.jpg') center center no-repeat;
    width: 100%;
    height: 500px;
    background-size: cover;
}
#proposal{
    background: url('../img/Augustin067.jpg') center center no-repeat;
    width: 100%;
    height: 500px;
    background-size: cover;
}
#proposal h1{
    margin: 0;
    font-size: 10vw;
    font-family: 'Great Vibes', cursive;
    color: #E3A1F4;
    font-weight: bolder;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: -67%;
    margin-top: -18%;

}
#proposal .proppos{
    position: absolute;
    top: 30%;
    left: 32%;
    z-index: 5000 !important;
}
#abtGabe h1,#abtJanelle h1 {
    text-align: center;
    font-family: 'Great Vibes', cursive;
    font-size: 6vw;
}
#abtJanelle , #abtGabe{
    /*overflow: hidden;*/
}
#abtJanelle .portrait{
    min-width: 100%;
    min-height: 100%;
    background: url('../img/Augustin011.jpg') center center no-repeat;
    background-size: cover;
}
#abtGabe .portrait{
    min-width: 100%;
    min-height: 100%;
    background: url('../img/gabe1.jpg') center center no-repeat;
    background-size: cover;
}

#abtGabe p, #abtJanelle p {
    font-family: Chantelli_Antiqua;
    font-size: 2vw;
}
.row .wow{
    padding-left: 0;
    padding-right: 0;
}
#home #hwmet{
    background: url('../img/Augustin080.jpg') center center no-repeat;
    width: 100%;
    height: 500px;
    background-size: cover;
}
#hwmet h1{
    margin: 0;
    font-size: 10vw;
    font-family: 'Great Vibes', cursive;
    color: #E3A1F4;
    font-weight: bolder;
    text-align: center;
    padding-top: 100px;
}
a:focus, a:hover,a:active,button:focus, button:active,button:hover{
    text-decoration: none !important;
    outline: none !important;
}
#hwmet .bpos{
    position: absolute;
    z-index: 5000;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
#phwmet #titlepos h1{
    text-align: center;
    font-size: 10vw;
    font-family: 'Great Vibes', cursive;
}
#phwmet #imgblk{
    display: flex;
    justify-content: center;
}
#phwmet h2 {
    font-size: 4vw;
    font-family: 'Great Vibes', cursive;
    margin-top: 50px;
}
#phwmet p{
    font-size: 2vw;
    font-family: Chantelli_Antiqua;
}
#ceremony{
    background-color: #ECECEC;
}
#tron{
    background-color: #BFBFBF;
}
#ceremony #tron h1{
    text-align: center;
    /*font-family: madariaga;*/
    font-family: 'Great Vibes', cursive;
    font-size: 9w;
    color: #F07ADD;
}
#ceremony img{
    margin-left: 25%;
}
#ceremony h2{
    text-align: center;
}
#ceremony #ct {
    padding-left: 50%;
}
#ceremony address{
   text-align: center;
}
#mapcnt{
    width: 500px;
    height: 500px;
}
#map_canvas{
    position: absolute;
    width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    margin-left: 10%;
}
#coverlay{
    visibility: hidden;
    width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000;
    background: rgba(252, 245, 112, 0.06);
}
@media only screen and (max-width: 768px){
    #ceremony img, #map_canvas{
        margin-left: 0;
    }
    #ceremony #ct {
        padding-left: 0;
    }
    #coverlay{
        visibility: visible;
    }
}